div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}
img {
    width: 100px;
    height: 100px;
    background-color: rgb(24, 20, 20);
}
.caption{
    display: block;
    margin-left:10px;
}
#lastThreeImages {
    padding-top: 50px;
  }
#firstFourImages{
    margin-right: 150px;
    margin-left: 10px;
}
#lastThreeImages{
    margin-left: 10px; 
}
h1 { 
    background-color: indianred; 
  }
body {
    background-color: wheat;
}




